In [1]:
import os
import numpy as np
import pandas as pd

In [4]:
def read_excel(path):
    return pd.read_excel(path)

def menggabungkan_data(df, missing_times):
    # Menggabungkan data hilang dengan DataFrame utama
    df = pd.concat([df, missing_times], ignore_index=True)
    
    # Mengurutkan DataFrame berdasarkan kolom 'Waktu'
    df = df.sort_values(by=['TAHUN','BULAN','TANGGAL','HARI','JAM']).reset_index(drop=True)

    return df

In [5]:
path_1 = '../Data/Preprocessing/Data Losarang/2022/3_clean_losarang_2022.xlsx'
path_2 = '../Data/Preprocessing/Data Losarang/2022/3_outliers_losarang_2022.xlsx'

df_clean = read_excel(path_1)
df_outlier = read_excel(path_2)

df_compiled = menggabungkan_data(df_clean, df_outlier)
df_compiled.head()

,WAKTU,TAHUN,BULAN,TANGGAL,HARI,JAM,MOTOR,MOBIL,TRUK/BUS,JUMLAH,SMP_MTR,SMP_MBL,SMP_TRK,SMP
0,2022-01-01 00:00:00,2022,1,1,Saturday,00:00,185,39,24,248,148.0,39,60.0,247
1,2022-01-01 00:15:00,2022,1,1,Saturday,00:15,195,64,35,294,156.0,64,87.5,308
2,2022-01-01 00:30:00,2022,1,1,Saturday,00:30,194,49,17,260,155.2,49,42.5,247
3,2022-01-01 00:45:00,2022,1,1,Saturday,00:45,162,43,21,226,129.6,43,52.5,225
4,2022-01-01 01:00:00,2022,1,1,Saturday,01:00,125,58,18,201,100.0,58,45.0,203

In [6]:
len(df_compiled)

35039

In [7]:
# Buat daftar waktu yang lengkap dari 2022-01-01 00:00:00 hingga 2022-12-31 23:45:00 dengan interval 15 menit
time_range = pd.date_range(start='2022-01-01 00:00:00', end='2022-12-31 23:45:00', freq='15T')

In [9]:
time_range

DatetimeIndex(['2022-01-01 00:00:00', '2022-01-01 00:15:00',
               '2022-01-01 00:30:00', '2022-01-01 00:45:00',
               '2022-01-01 01:00:00', '2022-01-01 01:15:00',
               '2022-01-01 01:30:00', '2022-01-01 01:45:00',
               '2022-01-01 02:00:00', '2022-01-01 02:15:00',
               ...
               '2022-12-31 21:30:00', '2022-12-31 21:45:00',
               '2022-12-31 22:00:00', '2022-12-31 22:15:00',
               '2022-12-31 22:30:00', '2022-12-31 22:45:00',
               '2022-12-31 23:00:00', '2022-12-31 23:15:00',
               '2022-12-31 23:30:00', '2022-12-31 23:45:00'],
              dtype='datetime64[ns]', length=35040, freq='15T')

In [10]:
missing_time = set(time_range) - set(df_compiled['WAKTU'])
print("Waktu yang hilang:", missing_time)

Waktu yang hilang: {Timestamp('2022-03-01 00:00:00')}