In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
def read_excel(path):
    return pd.read_excel(path)

def menggabungkan_data(df, missing_times):
    # Menggabungkan data hilang dengan DataFrame utama
    df = pd.concat([df, missing_times], ignore_index=True)
    
    # Mengurutkan DataFrame berdasarkan kolom 'Waktu'
    df = df.sort_values(by=['TAHUN','BULAN','TANGGAL','HARI','JAM']).reset_index(drop=True)

    return df

In [3]:
path_1 = '../Data/Preprocessing/Data Losarang/2024/1_input_03 Maret 2024.xlsx'
path_2 = '../Data/Preprocessing/Data Losarang/2024/1_missing_times_03 Maret 2024.xlsx'

df_input = read_excel(path_1)
df_missing = read_excel(path_2)

df_compiled = menggabungkan_data(df_input, df_missing)
df_compiled.head()

,WAKTU,TAHUN,BULAN,TANGGAL,HARI,JAM,MOTOR,MOBIL,TRUK/BUS,TOTAL,SMP_MTR,SMP_MBL,SMP_TRK,SMP
0,2024-03-01 00:00:00,2024,3,1,Friday,00:00,45.0,51.0,87.0,183.0,9.0,51.0,217.5,278.0
1,2024-03-01 00:15:00,2024,3,1,Friday,00:15,60.0,45.0,76.0,181.0,12.0,45.0,190.0,247.0
2,2024-03-01 00:30:00,2024,3,1,Friday,00:30,66.0,67.0,89.0,222.0,13.2,67.0,222.5,303.0
3,2024-03-01 00:45:00,2024,3,1,Friday,00:45,40.0,60.0,78.0,178.0,8.0,60.0,195.0,263.0
4,2024-03-01 01:00:00,2024,3,1,Friday,01:00,54.0,95.0,112.0,261.0,10.8,95.0,280.0,386.0

In [13]:
len(df_compiled)

2977

In [14]:
# Buat daftar waktu yang lengkap dari 2022-01-01 00:00:00 hingga 2022-12-31 23:45:00 dengan interval 15 menit
time_range = pd.date_range(start='2024-03-01 00:00:00', end='2024-03-31 23:45:00', freq='15T')

In [15]:
time_range

DatetimeIndex(['2024-03-01 00:00:00', '2024-03-01 00:15:00',
               '2024-03-01 00:30:00', '2024-03-01 00:45:00',
               '2024-03-01 01:00:00', '2024-03-01 01:15:00',
               '2024-03-01 01:30:00', '2024-03-01 01:45:00',
               '2024-03-01 02:00:00', '2024-03-01 02:15:00',
               ...
               '2024-03-31 21:30:00', '2024-03-31 21:45:00',
               '2024-03-31 22:00:00', '2024-03-31 22:15:00',
               '2024-03-31 22:30:00', '2024-03-31 22:45:00',
               '2024-03-31 23:00:00', '2024-03-31 23:15:00',
               '2024-03-31 23:30:00', '2024-03-31 23:45:00'],
              dtype='datetime64[ns]', length=2976, freq='15T')

In [16]:
missing_time = set(df_compiled['WAKTU']) - set(time_range)
print("Waktu yang hilang:", missing_time)

Waktu yang hilang: set()

In [17]:
duplicates = df_compiled[df_compiled.duplicated(subset='WAKTU', keep=False)]

In [18]:
duplicates

,WAKTU,TAHUN,BULAN,TANGGAL,HARI,JAM,MOTOR,MOBIL,TRUK/BUS,TOTAL,SMP_MTR,SMP_MBL,SMP_TRK,SMP
368,2024-03-04 20:00:00,2024,3,4,Monday,20:00,101.0,53.0,73.0,227.0,20.2,53.0,182.5,256.0
369,2024-03-04 20:00:00,2024,3,4,Monday,20:00,140.0,72.0,66.0,278.0,28.0,72.0,165.0,265.0