In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
def read_excel(path):
    return pd.read_excel(path)

def menggabungkan_data(df, missing_times):
    # Menggabungkan data hilang dengan DataFrame utama
    df = pd.concat([df, missing_times], ignore_index=True)
    
    # Mengurutkan DataFrame berdasarkan kolom 'Waktu'
    df = df.sort_values(by=['TAHUN','BULAN','TANGGAL','HARI','JAM']).reset_index(drop=True)

    return df

In [3]:
path_1 = '../Data/Preprocessing/Data Losarang/2023/3_clean_losarang_2023.xlsx'
path_2 = '../Data/Preprocessing/Data Losarang/2023/3_outliers_losarang_2023.xlsx'

df_clean = read_excel(path_1)
df_outlier = read_excel(path_2)

df_compiled = menggabungkan_data(df_clean, df_outlier)
df_compiled.head()

,WAKTU,TAHUN,BULAN,TANGGAL,HARI,JAM,MOTOR,MOBIL,TRUK/BUS,JUMLAH,SMP_MTR,SMP_MBL,SMP_TRK,SMP
0,2023-01-01 00:00:00,2023,1,1,Sunday,00:00,85,24,4,113,68.0,24,10.0,102
1,2023-01-01 00:15:00,2023,1,1,Sunday,00:15,92,19,6,117,73.6,19,15.0,108
2,2023-01-01 00:30:00,2023,1,1,Sunday,00:30,78,16,6,100,62.4,16,15.0,93
3,2023-01-01 00:45:00,2023,1,1,Sunday,00:45,78,23,4,105,62.4,23,10.0,95
4,2023-01-01 01:00:00,2023,1,1,Sunday,01:00,76,14,6,96,60.8,14,15.0,90

In [4]:
len(df_compiled)

35040

In [5]:
# Buat daftar waktu yang lengkap dari 2022-01-01 00:00:00 hingga 2022-12-31 23:45:00 dengan interval 15 menit
time_range = pd.date_range(start='2023-01-01 00:00:00', end='2023-12-31 23:45:00', freq='15T')

In [6]:
time_range

DatetimeIndex(['2023-01-01 00:00:00', '2023-01-01 00:15:00',
               '2023-01-01 00:30:00', '2023-01-01 00:45:00',
               '2023-01-01 01:00:00', '2023-01-01 01:15:00',
               '2023-01-01 01:30:00', '2023-01-01 01:45:00',
               '2023-01-01 02:00:00', '2023-01-01 02:15:00',
               ...
               '2023-12-31 21:30:00', '2023-12-31 21:45:00',
               '2023-12-31 22:00:00', '2023-12-31 22:15:00',
               '2023-12-31 22:30:00', '2023-12-31 22:45:00',
               '2023-12-31 23:00:00', '2023-12-31 23:15:00',
               '2023-12-31 23:30:00', '2023-12-31 23:45:00'],
              dtype='datetime64[ns]', length=35040, freq='15T')

In [7]:
missing_time = set(time_range) - set(df_compiled['WAKTU'])
print("Waktu yang hilang:", missing_time)

Waktu yang hilang: set()

Waktu yang hilang: {Timestamp('2023-11-01 00:00:00'), Timestamp('2023-09-27 00:00:00'), Timestamp('2023-09-25 00:00:00'), Timestamp('2023-10-08 00:00:00'), Timestamp('2023-10-19 00:00:00'), Timestamp('2023-10-07 00:00:00'), Timestamp('2023-09-24 00:00:00'), Timestamp('2023-02-01 00:00:00'), Timestamp('2023-12-01 00:00:00'), Timestamp('2023-09-26 00:00:00')}