In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
def read_excel(path):
    return pd.read_excel(path)

def koefisien(df):
    data.loc[:, 'KOEFISIEN'] = data['SMP'] / data['SMP'].max()
    return data

In [3]:
path_1 = '../Data/Preprocessing/Data Losarang/2022/4_lhrt_normalisasi_losarang_2022.xlsx'
df = read_excel(path_1)

In [4]:
df['KOEFISIEN'] = df['SMP'] / df['SMP'].max()

In [5]:
df.head()

     HARI    JAM  MOTOR  MOBIL  TRUK/BUS  SMP  SMP_zscore  KOEFISIEN
0  Monday  00:00     33     40        20   78    0.091633   0.238532
1  Monday  01:00     26     37        18   71    0.063745   0.217125
2  Monday  02:00     22     33        16   63    0.031873   0.192661
3  Monday  03:00     18     30        16   57    0.007968   0.174312
4  Monday  04:00     22     28        14   55    0.000000   0.168196

In [6]:
# Daftar kolom yang diinginkan dalam urutan baru
new_column_order = [
    'HARI', 'JAM', 'KOEFISIEN',
    'MOTOR', 'MOBIL', 'TRUK/BUS',
    'SMP_MTR','SMP_MBL','SMP_TRK',
    'SMP'
]
# Menyusun ulang kolom berdasarkan urutan yang diinginkan
df = df.reindex(columns=new_column_order)

In [7]:
df['SMP'] = np.nan
df['MOTOR'] = np.nan
df['MOBIL'] = np.nan
df['TRUK/BUS'] = np.nan
df['SMP_MTR'] = np.nan
df['SMP_MBL'] = np.nan
df['SMP_TRK'] = np.nan

In [8]:
df.head()

     HARI    JAM  KOEFISIEN  MOTOR  MOBIL  TRUK/BUS  SMP
0  Monday  00:00   0.238532    NaN    NaN       NaN  NaN
1  Monday  01:00   0.217125    NaN    NaN       NaN  NaN
2  Monday  02:00   0.192661    NaN    NaN       NaN  NaN
3  Monday  03:00   0.174312    NaN    NaN       NaN  NaN
4  Monday  04:00   0.168196    NaN    NaN       NaN  NaN

In [9]:
df.to_excel('../Data/Preprocessing/Data Losarang/2022/5_lhrt_koefisien_losarang_2022.xlsx', index=False)